<div>
    <div class="head-list">
        <div></div>
        <div>Name</div>
        <div>Description</div>
    </div>
    <div class="body-list">
        <div *ngFor="let character of data">
            <shared-row [id]="character.id" [img]="character.thumbnail" [name]="character.name"
                [description]="character.description"></shared-row>
        </div>
    </div>
    <div class="pnl-options">
        <button>Before</button>
        <span>Pag. 1/20</span>
        <button>Next</button>
    </div>
</div>