<div>
    <div class="head-list">
        <div></div>
        <div>Nombre</div>
        <div>Descripción</div>
    </div>
    <div class="body-list">
        <div *ngFor="let character of data">
            <shared-row [img]="character.thumbnail" [name]="character.name"
                [description]="character.description"></shared-row>
        </div>
    </div>
    <div class="pnl-options">
        <button>Anterior</button>
        <span>Pag. 1/20</span>
        <button>Siguiente</button>
    </div>
</div>