<div class="character-details">
    <div>
        <b>comics:</b> Avengers: The Initiative (2007) #14, Avengers: The Initiative (2007) #14 (SPOTLIGHT
        VARIANT),
        Avengers: The Initiative (2007) #15
    </div>
    <div>
        <b>series:</b> Avengers: The Initiative (2007 - 2010), Deadpool (1997 - 2002), Marvel Premiere (1972 -
        1981)
    </div>
    <div>
        <b>stories:</b> Cover #19947, The 3-D Man!, Cover #19949
    </div>
    <div>
        <b>events:</b> Secret Invasion
    </div>
</div>