.row {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    margin: 8px 0;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 12px 30px;
    -webkit-box-shadow: 4px 3px 14px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 14px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 14px -7px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.row:hover {
    cursor: pointer;
    transform: scale(1.01);
    -webkit-box-shadow: 6px 5px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 5px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 5px 18px -5px rgba(0, 0, 0, 0.75);
}

.row>div {
    display: flex;
    align-items: center;
    text-align: center;
}

.row img {
    max-width: 70px;
    height: auto;
    height: 90px;
    object-fit: cover;
}

.desc div {
    text-align: left;
}