/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: aliceblue;
    --secondary-color: blue;
    --contrast-one: black;
    --contrast-two: white;
}

.page {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}